<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <img src="../assets/theride.jpg" class="img-fluid" alt="The Ride" />

      <!-- NavBar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Gaslads Garage</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >Garage</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Teams</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Car Cards -->
      <div class="card car" style="width: 24rem;">
        <img src="../assets/car_1.jpg" class="card-img-top" alt="Car 1">
        <div class="card-body">
          <h5 class="card-title car_name">Crasher</h5>
          <h6 class="card-title team">Slime</h6>
          <p class="car_type">Type: <strong>Car</strong></p>
          <p class="car_weight">Weight: <strong>Middleweight</strong></p>
          <p class="car_hull">Max Hull: <strong>10</strong> Damage: <strong>0</strong></p>
          <p class="car_hull">Max Gear: <strong>5</strong> Current: <strong>1</strong></p>
        </div>
        <ul class="list-group list-group-flush special">
          <li class="list-group-item">n/a</li>
        </ul>
        <div class="card-body">
            <p>Handling: <strong>3</strong> | Crew: <strong>2</strong> | Cans: <strong></strong></p>
        </div>
      </div>

      <div class="card car" style="width: 24rem;">
        <img src="../assets/car_2.jpg" class="card-img-top" alt="Car 2">
        <div class="card-body">
          <h5 class="card-title car_name">Slasher</h5>
          <h6 class="card-title team">Slime</h6>
          <p class="car_type">Type: <strong>Buggy</strong></p>
          <p class="car_weight">Weight: <strong>Lightweight</strong></p>
          <p class="car_hull">Max Hull: <strong>6</strong> Damage: <strong>0</strong></p>
          <p class="car_hull">Max Gear: <strong>6</strong> Current: <strong>1</strong></p>
        </div>
        <ul class="list-group list-group-flush special">
          <li class="list-group-item">Roll Cage</li>
        </ul>
        <div class="card-body">
            <p>Handling: <strong>4</strong> | Crew: <strong>2</strong> | Cans: <strong></strong></p>
        </div>
      </div>

      <div class="card car" style="width: 24rem;">
        <img src="../assets/car_3.jpg" class="card-img-top" alt="Car 3">
        <div class="card-body">
          <h5 class="card-title car_name">Basher</h5>
          <h6 class="card-title team">Slime</h6>
          <p class="car_type">Type: <strong>Truck</strong></p>
          <p class="car_weight">Weight: <strong>Middleweight</strong></p>
          <p class="car_hull">Max Hull: <strong>12</strong> Damage: <strong>0</strong></p>
          <p class="car_hull">Max Gear: <strong>4</strong> Current: <strong>1</strong></p>
        </div>
        <ul class="list-group list-group-flush special">
          <li class="list-group-item">n/a</li>
        </ul>
        <div class="card-body">
            <p>Handling: <strong>2</strong> | Crew: <strong>3</strong> | Cans: <strong></strong></p>
        </div>
      </div>
    </div><!-- End Container -->

    <!-- JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
