body {
    background-image: url(../assets/responsive_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.hero_image {
    width: 100%;
    height: auto;
}

.car_cards {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.car {
    margin-top: 25px;
    order: 3;
}